:host {
    --seahawk-blue: #06215b;
    --seahawk-green: #1a8b84;
}

.announcements-header__divider {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    text-align: center;
    background-color: var(--seahawk-green);
}